@stage-width: 160px;
@opona-position-over-stage: -95px;
@opona-width: @stage-width + -@opona-position-over-stage*2;
@opona-height: 80px;
@space-between-stages: @opona-height;
@stage-height: @opona-height;
@backgound-margin: @opona-width*0.9;

.stages {
  margin: 100px;
  width: 750px;
}
.stage {
  width: @stage-width;
  height: @stage-height;
  margin-bottom: 40px;
  margin-right: @space-between-stages;
  float: left;
  position: relative;
  background-color: #09A850;
  color: white;
  padding: 0px;
}
.stage > div {
  float: left;
  position: absolute;
}

.stage_content {
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

div.opona {
  margin-left: @opona-position-over-stage;
  width: @opona-width;
  height: @opona-height;
  background: url("tire.png") no-repeat center;
  background-size: @backgound-margin 100%;
  z-index: 1;
}